[submodule "OwoAdvancedSensationBuilderNet8Demo"]
	path = OwoAdvancedSensationBuilder
	url = https://github.com/sync1211/OwoAdvancedSensationBuilderNet8Demo
[submodule "vrc-oscquery-lib"]
	path = vrc-oscquery-lib
	url = https://github.com/vrchat-community/vrc-oscquery-lib.git
